.invitation-container {
    display: block;
}

.gif-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    align-items: center;
    margin-top: 20px;
}

